body {
  background-color: lightcyan;
}
#root {
  overflow: hidden;
  height: 100vh;
  scroll-behavior: smooth;
}
.wrapper {
  display: flex;
  height: 100%;
}
.wrapper_inner {
  width: 90%;
  margin: 1rem auto;
}
main {
  overflow-y: auto;
  flex: 1 0 90%;
  margin: 1rem 0px;
}
aside {
  background: #36c;
  color: #fff;
  text-align: center;
  flex: 1 0 10%;
  padding: 1rem;
}
.map_wrapper {
  margin-top: 32px;
  height: 520px;
  overflow: hidden;
}
.mapDiv {
  margin-top: 16px;
  height: 100%;
}
#truck {
  background-image: url("../public/assets/garbage.png");
  background-size: cover;
  width: 32px;
  height: 32px;
}
.marker {
  background-image: url("../public/assets/garbage__transportation.png");
  background-size: cover;
  width: 32px;
  height: 32px;
}
